.display_container {
	display: flex;
	justify-content: center;
}
.display_player, .display_computer {
	margin: 15px;
	line-height: 2em;
	text-align: center;
}

.button_container, .restart_container {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.button_container > button{
	margin: 5px;
	width: 80px;
	height: 80px;
	font-size: 50px;
	padding-bottom: 10px;
	text-align: center;
}

.player_hands, .computer_hands {
	font-size: 50px;
	margin: 10px;

}

.display_player, .display_computer{
	width: 100px;
	height: 70px;
}
